*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  appearance: none;
}

.block-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  letter-spacing: 0.0125rem;
}
.block-text__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.428;
}
@media (max-width: 31.25em) {
  .block-text__title {
    font-size: 2.1875rem;
  }
}
@media (max-width: 25em) {
  .block-text__title {
    font-size: 1.875rem;
  }
}
.block-text__content {
  color: #737373;
  font-weight: 500;
  line-height: 1.428;
}
@media (max-width: 31.25em) {
  .block-text__content {
    font-size: 1.0625rem;
  }
}

.block-text--big {
  row-gap: 2.1875rem;
}
.block-text--big .block-text__title {
  font-size: 3.625rem;
}
@media (max-width: 31.25em) {
  .block-text--big .block-text__title {
    font-size: 2.8125rem;
  }
}
@media (max-width: 24.375em) {
  .block-text--big .block-text__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 31.25em) {
  .block-text--big .block-text__content {
    font-size: 1.25rem;
  }
}

.block-text--center {
  text-align: center;
}
.block-text--center .block-text__content {
  margin-inline: auto;
}

.hero__bg, .item-stats__icon img,
.item-stats__icon svg, .item-highlights__img img, .about__video iframe {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  background-color: #e6e6e6;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #252b42;
  font-weight: 600;
}
body.menu-open {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: clip;
  background-color: #fafafa;
}

[class*=__container] {
  max-inline-size: 1076px;
  margin-inline: auto;
  padding-inline: 15px;
}

.page {
  flex-grow: 1;
}

.header {
  position: absolute;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 50;
}
.header__body {
  display: flex;
  min-block-size: 6.5rem;
  column-gap: 8.3125rem;
  align-items: center;
}
@media (max-width: 56.25em) {
  .header__body {
   column-gap: 6.25rem;
  }
}
@media (max-width: 47.99875em) {
  .header__body {
    justify-content: space-between;
    min-block-size: 3.75rem;
  }
}
.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.00625rem;
  line-height: 1.333;
  z-index: 2;
}
@media (any-hover: hover), (pointer: fine) {
  .header__logo:hover {
    color: #0d5c63;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    justify-content: center;
    text-align: center;
    inset-block-start: 0rem;
    inset-inline-end: -100%;
    inline-size: 100%;
    block-size: 100%;
    padding-block-start: 5.625rem;
    padding-block-end: 0.9375rem;
    background-color: #fff;
    transition: all 0.3s;
  }
  .menu__body::before {
    content: "";
    inset-block-start: -100%;
    transition: all 0.3s;
  }
  .menu__body .menu__list {
    flex-direction: column;
    row-gap: 1.4375rem;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.3125rem;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 1.714;
  letter-spacing: 0.0125rem;
}
@media (any-hover: hover), (pointer: fine) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.375rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    position: absolute;
    inset-inline-end: 0.9375rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    z-index: 2;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    inline-size: 1.6875rem;
    block-size: 0.125rem;
    background-color: #000;
    transform-origin: left center;
    transition: all 0.4s;
  }
  .icon-menu::before span, .icon-menu::after span,
  .icon-menu span span {
    transition: all 0.1s;
  }
}

@media (max-width: 47.99875em) {
  .menu-open .menu__body, .menu-open .menu__body::before {
    inset-inline-end: 0rem;
  }
  .menu-open .menu__body::before {
    content: "";
    position: fixed;
    inset-block-start: 0rem;
    inline-size: 100%;
    block-size: 100%;
    background-color: #f8f9fa;
    block-size: 3.75rem;
    transition: all 0.3s;
  }
  .menu-open .icon-menu span {
    opacity: 0;
    inline-size: 0;
    transition: all 0.1s;
  }
  .menu-open .icon-menu::before {
    rotate: 45deg;
    translate: 0 -2px;
  }
  .menu-open .icon-menu::after {
    rotate: -45deg;
    translate: 0 1px;
  }
}

.hero {
  position: relative;
}
@media (max-width: 68.75em) {
  .hero__bg {
    object-position: right;
  }
}
@media (max-width: 62.5em) {
  .hero__bg {
    opacity: 0.4;
  }
}
.hero__container {
  position: relative;
  padding-block-start: 6.5rem;
  padding-block-end: 11.25rem;
  z-index: 2;
}
@media (max-width: 47.99875em) {
  .hero__container {
    padding-block-start: 5rem;
  }
}
.hero__content {
  max-inline-size: 31.875rem;
}
.hero__block-text .block-text__content {
  max-inline-size: 23.5rem;
}
.hero__block-text:not(:last-child) {
  margin-block-end: 2.1875rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.625rem;
  row-gap: 0.9375rem;
}
.actions__get-quote, .actions__learn-more {
  padding-inline: 2.25rem;
  padding-block: 0.625rem;
  border-radius: 2.3125rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.0125rem;
}
@media (max-width: 26.875em) {
  .actions__get-quote, .actions__learn-more {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
  }
}
.actions__get-quote {
  color: #fff;
  background-color: #ff7b47;
  transition: background-color 0.4s;
}
@media (any-hover: hover), (pointer: fine) {
  .actions__get-quote:hover {
    background-color: #d27857;
  }
}
.actions__learn-more {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  transition: all 0.4s;
}
@media (any-hover: hover), (pointer: fine) {
  .actions__learn-more:hover {
    background-color: rgba(13, 92, 99, 0.1);
  }
}

.page__services {
  position: relative;
  margin-block-start: -6.875rem;
  z-index: 2;
}

.services__body {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(min(17.5rem, 100%), 1fr));
}
@media (max-width: 58.125em) {
  .services__body {
    gap: 1.25rem;
  }
}

.item-services {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  padding-inline: 2.5rem;
  padding-block: 2.1875rem;
  background-color: #fff;
  transition: background-color 0.3s;
  min-height: 100%;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
@media (any-hover: hover), (pointer: fine) {
  .item-services:hover {
    background-color: #0d5c63;
    cursor: pointer;
  }
  .item-services:hover .item-services__icon svg path {
    fill: #fff;
    transition: fill 0.3s;
  }
  .item-services:hover .item-services__title, .item-services:hover .item-services__content {
    color: #fff;
  }
}
@media (max-width: 63.125em) {
  .item-services {
    padding-inline: 1.875rem;
    padding-block: 1.5625rem;
  }
}
.item-services__icon {
  overflow: clip;
  inline-size: 3rem;
  block-size: 3rem;
}
.item-services__icon img,
.item-services__icon svg {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.item-services__icon svg path {
  transition: fill 0.3s;
}
.item-services__title {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.333;
  letter-spacing: 0.00625rem;
  transition: color 0.3s;
}
@media (max-width: 63.125em) {
  .item-services__title {
    font-size: 1.4375rem;
  }
}
.item-services__content {
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  line-height: 1.428;
  transition: color 0.3s;
}

.experience {
  padding-block: 5rem;
}
@media (max-width: 59.375em) {
  .experience {
    padding-block: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .experience {
    padding-block: 3.125rem;
  }
}
.experience__block-text:not(:last-child) {
  margin-block-end: 3.125rem;
}
.experience__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  row-gap: 0.9375rem;
}
@media (max-width: 63.125em) {
  .experience__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34.375em) {
  .experience__body {
    grid-template-columns: 1fr;
  }
}

.block-text__content {
  max-inline-size: 31.875rem;
}

.item-stats {
  display: flex;
  flex-direction: column;
  padding-inline: 1.875rem;
  padding-block: 1.875rem;
  row-gap: 0.625rem;
  min-block-size: 100%;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 56.25em) {
  .item-stats {
    padding-inline: 1.25rem;
    padding-block: 1.25rem;
  }
}
.item-stats__icon {
  position: relative;
  overflow: clip;
  inline-size: 3rem;
  block-size: 3rem;
}
.item-stats__icon img,
.item-stats__icon svg {
  background-color: transparent;
}
.item-stats__value {
  flex-grow: 1;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.0125rem;
}
@media (max-width: 31.25em) {
  .item-stats__value {
    font-size: 2.1875rem;
  }
}
@media (max-width: 25em) {
  .item-stats__value {
    font-size: 1.875rem;
  }
}
.item-stats__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  text-align: center;
}

.practice {
  padding-block-start: 7.8125rem;
  padding-block-end: 5rem;
}
@media (max-width: 64em) {
  .practice {
    padding-block-start: 0rem;
    padding-block-end: 3.125rem;
  }
}
.practice__block-text .block-text__content {
  max-inline-size: 29.375rem;
}
.practice__block-text:not(:last-child) {
  margin-block-end: 2.8125rem;
}

.highlights__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5rem;
}
@media (max-width: 64em) {
  .highlights__body {
   column-gap: 1.875rem;
  }
}
@media (max-width: 58.125em) {
  .highlights__body {
    grid-template-columns: 1fr;
    row-gap: 0.9375rem;
  }
}

.item-highlights {
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  row-gap: 1.875rem;
  background-color: #fff;
}
@media (max-width: 58.125em) {
  .item-highlights {
    flex-direction: row;
    align-items: center;
  }
  .item-highlights:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
  }
}
@media (max-width: 34.375em) {
  .item-highlights {
    flex-direction: column;
    align-items: stretch;
  }
  .item-highlights:nth-child(2n) {
    flex-direction: column;
    text-align: inherit;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .item-highlights:hover .item-highlights__img img {
    cursor: pointer;
    transform: scale(1.02);
  }
  .item-highlights:hover .item-highlights__title {
    color: #ff7b47;
  }
  .item-highlights:hover .item-highlights__title:hover {
    color: #d27857;
  }
}
.item-highlights__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  flex-grow: 1;
  padding-inline: 1.6875rem;
  padding-block-start: 1.875rem;
  line-height: 1.428;
}
@media (max-width: 58.125em) {
  .item-highlights__content {
    padding-inline: 1.25rem;
    padding-block: 0.9375rem;
  }
}
.item-highlights__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  transition: color 0.3s;
}
.item-highlights__text {
  color: #737373;
  letter-spacing: 0.0125rem;
}
.item-highlights__img {
  position: relative;
  overflow: clip;
  aspect-ratio: 230/138;
}
@media (max-width: 58.125em) {
  .item-highlights__img {
    inline-size: 19.375rem;
    block-size: 10.75rem;
    flex-shrink: 0;
    align-self: flex-start;
  }
}
@media (max-width: 44.375em) {
  .item-highlights__img {
    inline-size: 15.625rem;
    block-size: 8.6875rem;
  }
}
@media (max-width: 34.375em) {
  .item-highlights__img {
    inline-size: inherit;
    block-size: inherit;
    align-self: auto;
  }
}
.item-highlights__img img {
  will-change: transform;
  transition: transform 0.3s;
}

.about {
  padding-block: 5rem;
  background-color: #fff;
}
@media (max-width: 56.25em) {
  .about {
    padding-block: 3.125rem;
  }
}
.about__block-text:not(:last-child) {
  margin-block-end: 6.25rem;
}
@media (max-width: 56.25em) {
  .about__block-text:not(:last-child) {
    margin-block-end: 2.1875rem;
  }
}
.about__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 56.25em) {
  .about__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.about__video {
  position: relative;
  overflow: clip;
  flex-basis: 37.5rem;
  flex-shrink: 0;
  padding-block-end: 42%;
}
@media (max-width: 65.625em) {
  .about__video {
    flex-basis: 32.5rem;
  }
}
@media (max-width: 58.75em) {
  .about__video {
    flex-basis: 28.125rem;
  }
}
@media (max-width: 56.25em) {
  .about__video {
    flex-basis: auto;
    padding-block-end: 56.25%;
  }
  .about__video:not(:last-child) {
    margin-block-start: 2.5rem;
  }
}
.trusted {
  padding-inline-start: 6.875rem;
}
@media (max-width: 65.625em) {
  .trusted {
    padding-inline-start: 5rem;
  }
}
@media (max-width: 58.75em) {
  .trusted {
    padding-inline-start: 3.125rem;
  }
}
@media (max-width: 56.25em) {
  .trusted {
    flex-grow: 1;
    padding-inline-start: 0rem;
    flex-basis: auto;
  }
}
.trusted__block-text:not(:last-child) {
  margin-block-end: 3.125rem;
}
@media (max-width: 62.5em) {
  .trusted__block-text:not(:last-child) {
    margin-block-end: 1.875rem;
  }
}
@media (max-width: 56.25em) {
  .trusted__block-text:not(:last-child) .block-text__title {
    font-size: 1.875rem;
  }
}
.trusted__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}
@media (max-width: 62.5em) {
  .trusted__list {
    row-gap: 1.25rem;
  }
}
.trusted__item {
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
  font-weight: 600;
  line-height: 1.742;
  letter-spacing: 0.0125rem;
}
.trusted__item > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.trusted__item strong {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
}

.trusted__item--first::before,
.trusted__item--second::before {
  content: "";
  inline-size: 2rem;
  block-size: 2rem;
  flex-shrink: 0;
  align-self: flex-start;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.trusted__item--first::before {
  background-image: url("../img/icons/about/about_01.svg");
}

.trusted__item--second::before {
  background-image: url("../img/icons/about/about_02.svg");
}

.brands {
  padding-block: 3.125rem;
}
@media (max-width: 34.0625em) {
  .brands {
    padding-block: 1.875rem;
  }
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.25rem, 1fr));
  gap: 1.875rem;
  align-items: center;
  text-align: center;
}
.brands__item {
  position: relative;
  overflow: clip;
  block-size: 4.6875rem;
}
@media (max-width: 34.0625em) {
  .brands__item {
    block-size: 4.0625rem;
  }
}
@media (max-width: 22.1875em) {
  .brands__item {
    block-size: 2.8125rem;
  }
}
.brands__item img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.subscribe {
  position: relative;
  padding-block: 1.25rem;
}
.subscribe::after {
  content: "";
  position: absolute;
  inset-block-end: 0rem;
  inline-size: 100%;
  block-size: 4.8125rem;
  background-color: #252b42;
}
.subscribe__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 0.9375rem;
  align-items: center;
  display: flex;
  padding-inline: 3.125rem;
  padding-block: 1.875rem;
  background-color: #17213c;
  z-index: 2;
}
@media (min-width: 65.625em) {
  .subscribe__body {
    margin-inline: 1.875rem;
  }
}
@media (max-width: 50em) {
  .subscribe__body {
    flex-direction: column;
    align-items: stretch;
    row-gap: 1.25rem;
  }
}
@media (max-width: 33.75em) {
  .subscribe__body {
    margin-inline: -0.9375rem;
  }
}
@media (max-width: 31.25em) {
  .subscribe__body {
    padding-inline: 1.25rem;
  }
}
.subscribe__content {
  max-inline-size: 16.625rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.0125rem;
  text-transform: capitalize;
}
@media (max-width: 50em) {
  .subscribe__content {
    max-inline-size: 100%;
  }
}
.subscribe__form {
  flex-basis: 50%;
}

.form-subscribe__body {
  display: flex;
}
.form-subscribe__btn {
  padding-inline: 1.25rem;
  border-start-end-radius: 0.3125rem;
  border-end-end-radius: 0.3125rem;
  border: 1px solid #e5e5e5;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  background-color: #ff7b47;
  line-height: 2;
  letter-spacing: 0.0125rem;
}
.form-subscribe input {
  padding-block: 0.9375rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 0.625rem;
  border: 1px solid #e5e5e5;
  border-inline-end: none;
  border-start-start-radius: 0.3125rem;
  border-end-start-radius: 0.3125rem;
  background-color: #f9f9f9;
}

.form-subscribe input::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  color: #737373;
  line-height: 2;
  letter-spacing: 0.0125rem;
  transition: opacity 0.4s;
}
.form-subscribe input:focus {
  color: #252b42;
  font-weight: 500;
}

.form-subscribe input:focus::placeholder {
  opacity: 0;
}

.connect {
  background-color: #f3f3f3;
  padding-block-start: 5rem;
  padding-block-end: 9.25rem;
}
@media (max-width: 62.5em) {
  .connect {
    padding-block-end: 1.875rem;
  }
}
.connect__block-text:not(:last-child) {
  margin-block-end: 5rem;
}
@media (max-width: 62.5em) {
  .connect__block-text:not(:last-child) {
    margin-block-end: 2.5rem;
  }
}
.connect__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 2.0625rem;
}
@media (max-width: 53.125em) {
  .connect__body {
    grid-template-columns: 1fr;
    margin-inline: -0.9375rem;
    padding-inline: 0rem;
  }
}

.item-connect {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  padding-inline: 2.5rem;
  padding-block: 3.125rem;
  align-items: center;
  text-align: center;
  background-color: #fff;
  transition: background-color 0.4s;
}
.item-connect:not(:last-child) {
  border-inline-end: 1px solid #f3f3f3;
}
@media (max-width: 53.125em) {
  .item-connect {
    padding-inline: 0rem;
    padding-block: 1.25rem;
  }
}
.item-connect::before, .item-connect::after {
  position: absolute;
  content: "";
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 1.25rem;
  background-color: #252b42;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.3s;
}
.item-connect::before {
  inset-block-start: -20px;
}
.item-connect::after {
  inset-block-end: -20px;
}
@media (any-hover: hover), (pointer: fine) {
  .item-connect:hover {
    background-color: #252b42;
    color: #fff;
  }
  .item-connect:hover::before, .item-connect:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .item-connect:hover svg path {
    fill: #fff;
  }
  .item-connect:hover .item-connect__btn {
    color: #fff;
    border: 1px solid #fff;
  }
  .item-connect:hover .item-connect__btn:hover {
    border: 1px solid #ff7b47;
    color: #ff7b47;
  }
}
.item-connect__icon {
  inline-size: 4.5rem;
  block-size: 4.5rem;
  overflow: clip;
}
@media (max-width: 65em) {
  .item-connect__icon {
    inline-size: 3.875rem;
    block-size: 3.875rem;
  }
}
@media (max-width: 31.25em) {
  .item-connect__icon {
    inline-size: 3.25rem;
    block-size: 3.25rem;
  }
}
.item-connect__icon svg,
.item-connect__icon img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
  transition: fill 0.3s;
}
.item-connect__address {
  flex-grow: 1;
  line-height: 1.742;
  letter-spacing: 0.0125rem;
}
.item-connect__address a {
  display: block;
}
.item-connect__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
}
.item-connect__btn {
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid #ff7b47;
  color: #ff7b47;
  text-transform: uppercase;
  line-height: 1.742;
  letter-spacing: 0.0125rem;
  cursor: pointer;
  transition: border 0.3s, color 0.3s;
}
@media (max-width: 65em) {
  .item-connect__btn {
    padding-inline: 0.9375rem;
    padding-block: 0.5rem;
  }
}

.contact-us {
  padding-block: 2.5rem;
  background-color: #fafafa;
}
@media (max-width: 43.75em) {
  .contact-us {
    padding-block: 1.25rem;
  }
}
.contact-us__body {
  display: flex;
  column-gap: 0.9375rem;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 43.75em) {
  .contact-us__body {
    flex-direction: column;
    row-gap: 1.25rem;
    text-align: center;
  }
}
.contact-us__action {
  flex-shrink: 0;
  padding-inline: 2.5rem;
}
@media (max-width: 43.75em) {
  .contact-us__action {
    flex-shrink: 1;
    inline-size: 100%;
  }
}
.contact-us__button {
  padding-inline: 2.5rem;
  padding-block: 0.9375rem;
  border-radius: 0.3125rem;
  color: #fff;
  background-color: #ff7b47;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.0125rem;
  transition: 0.3s;
}
@media (any-hover: hover), (pointer: fine) {
  .contact-us__button:hover {
    background-color: #d27857;
  }
}
@media (max-width: 43.75em) {
  .contact-us__button {
    inline-size: 100%;
    padding-block: 0.625rem;
  }
}

.block-text__title {
  font-size: 1.5rem;
  line-height: 1.333;
  letter-spacing: 0.00625rem;
}
.block-text__content {
  font-size: 0.875rem;
}

.footer__top {
  background-color: #252b42;
  padding-block: 3.125rem;
  color: #fff;
}
.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  column-gap: 0.9375rem;
}
@media (max-width: 62.5em) {
  .footer__inner {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
  }
}
@media (max-width: 40.625em) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.625rem;
  }
}
@media (max-width: 40.625em) {
  .footer__column:last-child {
    grid-column: span 2;
  }
}
.footer__title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.00625rem;
}
.footer__title:not(:last-child) {
  margin-block-end: 1.25rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.footer__link {
  line-height: 1.714;
  letter-spacing: 0.0125rem;
}
@media (any-hover: hover), (pointer: fine) {
  .footer__link:hover {
    text-decoration: underline;
  }
}
.footer__item--flex {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
}
.footer__img {
  position: relative;
  inline-size: 1.5rem;
  block-size: 1.875rem;
  flex-shrink: 0;
  align-self: flex-start;
}
.footer__img img {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.footer__bottom {
  padding-block: 1.5625rem;
}
.footer__body {
  display: flex;
  column-gap: 0.9375rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 40.625em) {
  .footer__body {
    flex-direction: column;
    row-gap: 1.25rem;
    text-align: center;
  }
}
.footer__text {
  color: #737373;
  line-height: 1.7142;
  letter-spacing: 0.0125rem;
}
.footer__socials {
  display: flex;
  column-gap: 1.25rem;
  padding-inline-end: 2.5rem;
}
.footer__socials a {
  position: relative;
  inline-size: 1.5rem;
  block-size: 1.5rem;
}
@media (any-hover: hover), (pointer: fine) {
  .footer__socials a:hover img {
    transform: scale(1.01);
  }
}
.footer__socials a img {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
